*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
}

.about-box {
    max-width: fit-content;
    background-color: white;
    background-image: url("/images/GameHub_Logo\ 1.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem; 
    text-align: center;
    align-items: center;
    align-content: center;
    gap: 1rem;
    
}

.about-box h1 {
    margin-top: 30px;
    font-size: 44px;
    gap: 1rem;

}

.about-box p {
    font-size: 26px;
    gap: 1rem;

}

#rectangle{
    width: 70%;
    height: 750px;
    background: #ffffff2c;
    
}


@media (max-width: 750px){
    
    .about-box h1{
        font-size: 30px;

    }

    .about-box{
        margin-top: 10px;
    }

    .about-box p{
        font-size: 20px;
    }


}

