*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
}

.logo{ 
    display: flex;
    justify-content: center;
    align-items: center;

}

img{
    height: auto;
    display: flex;
    width: 100%;
    justify-content: center;
    z-index: 1;

}



.main-page{
    min-width: 100%;
    min-height: 860px;
    background-color: rgb(255, 255, 255);
    background-image: url("/images/Backgroud\ image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex, inline-block;
    flex-direction: column;
    margin: auto;
    gap: 1rem;
    align-items: center;
    overflow: hidden;

}

.logo{
    margin-bottom: 10px;
    margin-top: 10px;
}

.buttons{
    color:rgb(0, 0, 0);
    text-align: center;

}



.games-btn{
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    padding: 12px 34px;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.65);
    cursor: pointer;
    border-radius: 10px;

}

.games-btn:hover{
    border: 1px solid #ff0000;
    background: #ff0000;
    transition: 1s;

}



.about-btn{
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    padding: 12px 53px;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.65);
    position: relative;
    cursor: pointer;
    border-radius: 10px;

}

.about-btn:hover{
    border: 1px solid #ff0000;
    background: #ff0000;
    transition: 1s;

}



.contact-btn{
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    padding: 12px 45.5px;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.65);
    cursor: pointer;
    border-radius: 10px;
    
}

.contact-btn:hover{
    border: 1px solid #ff0000;
    background: #ff0000;
    transition: 1s;

}




