*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}


.games-list{
    min-height: 1080px;
    width: auto;
    background-color: #444444;
    background-image: url("/images/20466259.jpg");
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    align-content: center;
}

.games-list h1{
    color: white;
}

.wrapper{
    max-width: fit-content;
    background-color: #444444;
    position: relative;
    max-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
    color: white;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    
}


.price{
    text-align: center;
    font-family: 'Jockey One', sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
    
}

.gamecover{
    max-width: 300px;
    align-items: center;
    align-content: center;
    justify-content: center;
    max-height: 400px;
    padding: 3px;

}

.gamecover img{
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    width: 200px;
    height: 256px;
    cursor: pointer;
    
}

.gamecover img:hover{
    width: 210px;
    height: 266px;
    transition: 1s;

}


.gamecover h2{
    text-align: center;
    
}

.product-buttons{
    align-items: center;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 5px;
    margin: 5px;
    font-family: 'Jockey One', sans-serif;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #000000;

}

.product-buttons:hover{
    background: #44f000;
    transition: 1s;
    padding: 5px;
    margin: 5px;
    font-family: 'Jockey One', sans-serif;
    font-size: 20px;
    cursor: pointer;

}


@media (max-width: 1200px){

    .wrapper{
        flex-direction: column;
    
    }

    .games-list{
        background-image: none;
    }


   

}



